    /*
    Flaticon icon font: Flaticon
    Creation date: 20/09/2017 07:55
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-honey:before { content: "\f100"; }
.flaticon-cereals:before { content: "\f101"; }
.flaticon-steak-fish:before { content: "\f102"; }
.flaticon-ham:before { content: "\f103"; }
.flaticon-big-tomato:before { content: "\f104"; }
.flaticon-healthy-breakfast:before { content: "\f105"; }
.flaticon-corn-1:before { content: "\f106"; }
.flaticon-food-24:before { content: "\f107"; }
.flaticon-fruit-8:before { content: "\f108"; }
.flaticon-fruit-7:before { content: "\f109"; }
.flaticon-fruit-6:before { content: "\f10a"; }
.flaticon-food-23:before { content: "\f10b"; }
.flaticon-food-22:before { content: "\f10c"; }
.flaticon-fruit-5:before { content: "\f10d"; }
.flaticon-food-21:before { content: "\f10e"; }
.flaticon-food-20:before { content: "\f10f"; }
.flaticon-food-19:before { content: "\f110"; }
.flaticon-drink-3:before { content: "\f111"; }
.flaticon-bananas:before { content: "\f112"; }
.flaticon-orange:before { content: "\f113"; }
.flaticon-carrot-hand-drawn-vegetable:before { content: "\f114"; }
.flaticon-food-stick-or-skewer:before { content: "\f115"; }
.flaticon-salad:before { content: "\f116"; }
.flaticon-vegetarian-food:before { content: "\f117"; }
.flaticon-corn:before { content: "\f118"; }
.flaticon-carrot:before { content: "\f119"; }
.flaticon-can:before { content: "\f11a"; }
.flaticon-aubergine:before { content: "\f11b"; }
.flaticon-olives:before { content: "\f11c"; }
.flaticon-hot-pepper:before { content: "\f11d"; }
.flaticon-fruit-4:before { content: "\f11e"; }
.flaticon-shape:before { content: "\f11f"; }
.flaticon-food-18:before { content: "\f120"; }
.flaticon-food-17:before { content: "\f121"; }
.flaticon-drink-2:before { content: "\f122"; }
.flaticon-fruit-3:before { content: "\f123"; }
.flaticon-food-16:before { content: "\f124"; }
.flaticon-food-15:before { content: "\f125"; }
.flaticon-food-14:before { content: "\f126"; }
.flaticon-food-13:before { content: "\f127"; }
.flaticon-food-12:before { content: "\f128"; }
.flaticon-food-11:before { content: "\f129"; }
.flaticon-food-10:before { content: "\f12a"; }
.flaticon-coin:before { content: "\f12b"; }
.flaticon-food-9:before { content: "\f12c"; }
.flaticon-phone-call:before { content: "\f12d"; }
.flaticon-fruit-2:before { content: "\f12e"; }
.flaticon-padlock:before { content: "\f12f"; }
.flaticon-home:before { content: "\f130"; }
.flaticon-drink-1:before { content: "\f131"; }
.flaticon-food-8:before { content: "\f132"; }
.flaticon-food-7:before { content: "\f133"; }
.flaticon-food-6:before { content: "\f134"; }
.flaticon-food-5:before { content: "\f135"; }
.flaticon-food-4:before { content: "\f136"; }
.flaticon-food-3:before { content: "\f137"; }
.flaticon-food-2:before { content: "\f138"; }
.flaticon-cup-1:before { content: "\f139"; }
.flaticon-food-1:before { content: "\f13a"; }
.flaticon-drink:before { content: "\f13b"; }
.flaticon-fruit-1:before { content: "\f13c"; }
.flaticon-fruit:before { content: "\f13d"; }
.flaticon-cup:before { content: "\f13e"; }
.flaticon-buddhist-yoga-pose:before { content: "\f13f"; }
.flaticon-restaurant-table-and-chairs:before { content: "\f140"; }
.flaticon-person-running-on-a-treadmill-silhouette-from-side-view:before { content: "\f141"; }
.flaticon-food-covered:before { content: "\f142"; }
.flaticon-person-silhouette-in-sauna:before { content: "\f143"; }
.flaticon-massage-session:before { content: "\f144"; }
.flaticon-food:before { content: "\f145"; }
.flaticon-restaurant-menu:before { content: "\f146"; }
.flaticon-bowl-in-a-microwave:before { content: "\f147"; }
.flaticon-salt-container:before { content: "\f148"; }
.flaticon-chicken-plate-on-a-hand:before { content: "\f149"; }
.flaticon-cup-black-silhouette:before { content: "\f14a"; }
.flaticon-food-covered-tray-silhouette:before { content: "\f14b"; }
.flaticon-cupcake-symbol:before { content: "\f14c"; }
.flaticon-drink-glass:before { content: "\f14d"; }
.flaticon-chicken:before { content: "\f14e"; }
.flaticon-chef:before { content: "\f14f"; }
.flaticon-hand-carrying-a-tea-cup-of-restaurant-service:before { content: "\f150"; }
.flaticon-two-burning-candles:before { content: "\f151"; }
.flaticon-restaurant:before { content: "\f152"; }
.flaticon-restaurant-covered-plate-on-a-hand:before { content: "\f153"; }
.flaticon-bottle-and-glass-shapes:before { content: "\f154"; }
.flaticon-restaurant-cutlery-symbol-of-a-cross:before { content: "\f155"; }
.flaticon-businessman-carrying-men-in-world-grid:before { content: "\f156"; }
.flaticon-standing-balance-posture-stretching-right-leg-to-side:before { content: "\f157"; }
.flaticon-businessman-with-password:before { content: "\f158"; }
.flaticon-businessman-on-cloud:before { content: "\f159"; }
.flaticon-man-standing-with-extended-arms-to-sides:before { content: "\f15a"; }
.flaticon-100-natural-badge:before { content: "\f15b"; }
.flaticon-running-treadmill:before { content: "\f15c"; }
.flaticon-yoga:before { content: "\f15d"; }
.flaticon-cutlery:before { content: "\f15e"; }
.flaticon-meditation:before { content: "\f15f"; }
.flaticon-woman-on-lotus-position-front-view:before { content: "\f160"; }
.flaticon-time-planning:before { content: "\f161"; }
.flaticon-weightlifting:before { content: "\f162"; }
.flaticon-bicycle:before { content: "\f163"; }
.flaticon-board-with-list:before { content: "\f164"; }
.flaticon-restaurant-1:before { content: "\f165"; }

    $font-Flaticon-honey: "\f100";
    $font-Flaticon-cereals: "\f101";
    $font-Flaticon-steak-fish: "\f102";
    $font-Flaticon-ham: "\f103";
    $font-Flaticon-big-tomato: "\f104";
    $font-Flaticon-healthy-breakfast: "\f105";
    $font-Flaticon-corn-1: "\f106";
    $font-Flaticon-food-24: "\f107";
    $font-Flaticon-fruit-8: "\f108";
    $font-Flaticon-fruit-7: "\f109";
    $font-Flaticon-fruit-6: "\f10a";
    $font-Flaticon-food-23: "\f10b";
    $font-Flaticon-food-22: "\f10c";
    $font-Flaticon-fruit-5: "\f10d";
    $font-Flaticon-food-21: "\f10e";
    $font-Flaticon-food-20: "\f10f";
    $font-Flaticon-food-19: "\f110";
    $font-Flaticon-drink-3: "\f111";
    $font-Flaticon-bananas: "\f112";
    $font-Flaticon-orange: "\f113";
    $font-Flaticon-carrot-hand-drawn-vegetable: "\f114";
    $font-Flaticon-food-stick-or-skewer: "\f115";
    $font-Flaticon-salad: "\f116";
    $font-Flaticon-vegetarian-food: "\f117";
    $font-Flaticon-corn: "\f118";
    $font-Flaticon-carrot: "\f119";
    $font-Flaticon-can: "\f11a";
    $font-Flaticon-aubergine: "\f11b";
    $font-Flaticon-olives: "\f11c";
    $font-Flaticon-hot-pepper: "\f11d";
    $font-Flaticon-fruit-4: "\f11e";
    $font-Flaticon-shape: "\f11f";
    $font-Flaticon-food-18: "\f120";
    $font-Flaticon-food-17: "\f121";
    $font-Flaticon-drink-2: "\f122";
    $font-Flaticon-fruit-3: "\f123";
    $font-Flaticon-food-16: "\f124";
    $font-Flaticon-food-15: "\f125";
    $font-Flaticon-food-14: "\f126";
    $font-Flaticon-food-13: "\f127";
    $font-Flaticon-food-12: "\f128";
    $font-Flaticon-food-11: "\f129";
    $font-Flaticon-food-10: "\f12a";
    $font-Flaticon-coin: "\f12b";
    $font-Flaticon-food-9: "\f12c";
    $font-Flaticon-phone-call: "\f12d";
    $font-Flaticon-fruit-2: "\f12e";
    $font-Flaticon-padlock: "\f12f";
    $font-Flaticon-home: "\f130";
    $font-Flaticon-drink-1: "\f131";
    $font-Flaticon-food-8: "\f132";
    $font-Flaticon-food-7: "\f133";
    $font-Flaticon-food-6: "\f134";
    $font-Flaticon-food-5: "\f135";
    $font-Flaticon-food-4: "\f136";
    $font-Flaticon-food-3: "\f137";
    $font-Flaticon-food-2: "\f138";
    $font-Flaticon-cup-1: "\f139";
    $font-Flaticon-food-1: "\f13a";
    $font-Flaticon-drink: "\f13b";
    $font-Flaticon-fruit-1: "\f13c";
    $font-Flaticon-fruit: "\f13d";
    $font-Flaticon-cup: "\f13e";
    $font-Flaticon-buddhist-yoga-pose: "\f13f";
    $font-Flaticon-restaurant-table-and-chairs: "\f140";
    $font-Flaticon-person-running-on-a-treadmill-silhouette-from-side-view: "\f141";
    $font-Flaticon-food-covered: "\f142";
    $font-Flaticon-person-silhouette-in-sauna: "\f143";
    $font-Flaticon-massage-session: "\f144";
    $font-Flaticon-food: "\f145";
    $font-Flaticon-restaurant-menu: "\f146";
    $font-Flaticon-bowl-in-a-microwave: "\f147";
    $font-Flaticon-salt-container: "\f148";
    $font-Flaticon-chicken-plate-on-a-hand: "\f149";
    $font-Flaticon-cup-black-silhouette: "\f14a";
    $font-Flaticon-food-covered-tray-silhouette: "\f14b";
    $font-Flaticon-cupcake-symbol: "\f14c";
    $font-Flaticon-drink-glass: "\f14d";
    $font-Flaticon-chicken: "\f14e";
    $font-Flaticon-chef: "\f14f";
    $font-Flaticon-hand-carrying-a-tea-cup-of-restaurant-service: "\f150";
    $font-Flaticon-two-burning-candles: "\f151";
    $font-Flaticon-restaurant: "\f152";
    $font-Flaticon-restaurant-covered-plate-on-a-hand: "\f153";
    $font-Flaticon-bottle-and-glass-shapes: "\f154";
    $font-Flaticon-restaurant-cutlery-symbol-of-a-cross: "\f155";
    $font-Flaticon-businessman-carrying-men-in-world-grid: "\f156";
    $font-Flaticon-standing-balance-posture-stretching-right-leg-to-side: "\f157";
    $font-Flaticon-businessman-with-password: "\f158";
    $font-Flaticon-businessman-on-cloud: "\f159";
    $font-Flaticon-man-standing-with-extended-arms-to-sides: "\f15a";
    $font-Flaticon-100-natural-badge: "\f15b";
    $font-Flaticon-running-treadmill: "\f15c";
    $font-Flaticon-yoga: "\f15d";
    $font-Flaticon-cutlery: "\f15e";
    $font-Flaticon-meditation: "\f15f";
    $font-Flaticon-woman-on-lotus-position-front-view: "\f160";
    $font-Flaticon-time-planning: "\f161";
    $font-Flaticon-weightlifting: "\f162";
    $font-Flaticon-bicycle: "\f163";
    $font-Flaticon-board-with-list: "\f164";
    $font-Flaticon-restaurant-1: "\f165";